.action-icon {
    display: inline-block;
    padding: 10px 10px;
    color:white;
    border-radius: 3px;
    margin: 2px;
}

.view-button {
    background-color: #037AFB;
}

.cancel-button {
    background-color: #DC3C45;
}

.view-button:hover {
    background-color:#a8c4e3;
    color: black;
}

.cancel-button:hover {
    background-color:#e3989c;
    color: black;
}