<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MainServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9450/MainService.asmx" binding="basicHttpBinding"
                bindingConfiguration="MainServiceSoap" contract="MainServiceReference.MainServiceSoap"
                name="MainServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>